<html>
 <head>
  <title>Database Content</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>
 </head>
 <body>
  <h1>Last sensor reading is <div id="Sensor1">no reading yet</div></h1>
 </body>
</html>
